body {
  font-family: "Poppins", sans-serif;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #8270c5;
  color: white;
  position: relative;
}

.hero-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: white;
  color: #1e50ff;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.hero-btn:hover {
  background-color: #dbeafe;
  transform: translateY(-2px);
}



/* Container */
.maindiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(237 22% 23%);
  padding: 2rem;
  color: white;
}

@media (min-width: 768px) {
  .maindiv {
    flex-direction: row;
  }

}

/* Left side: Text content */
.text {
  flex: 1;
  text-align: left;
  padding-left: 50px;
}


.hero-title {
  font-size: 30px;
  font-weight: 500;

}

.name {
  background: linear-gradient(80deg, #59ffff 10%, #ff0252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
  line-height: 80px;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium';
}


/* Button */

.dwn {
  font-size: 1.5rem;
  margin-right: 10px;
}

/* Right side: Image */
.imageName {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.imageName img {
  max-width: 90%;
  height: auto;
  background-color: #ffffff;
  border-radius: 5%;
  border: 1px solid #ffffff;
  box-shadow: 5px 6px 0px 0px rgb(193 193 193 / 98%);
}

.hero-description {
  font-size: 1.125rem;
  color: hsl(14.37deg 100% 51.55%);
}

.details {
  color: #f1f1f1;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 25px;
}

.hbtn {
  display: flex;
  align-items: center;

  background: white;
  color: #1e50ff;

  font-weight: 500;
  padding: 0.6rem 1.2rem;

  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.hbtn:hover {
  background-color: #dbeafe;
  transform: translateY(-2px);
}

.btn {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  margin-bottom: 10px;
}

.dwn {
  font-size: 1.25rem;
}

.social {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding-top: 10px;
}

/* Responsive */
@media (max-width: 485px) {
  .maindiv {
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    text-align: center;
  }

  .text {
    padding: 0;
    text-align: center;
  }

  .hero-title {
    font-size: 24px;
    font-weight: 500;
  }

  .hero-description {
    font-size: 1.125rem;
    color: hsl(14.37deg 100% 51.55%);
    margin: 10px;
  }

  .name {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
  }

  .imageName {
    padding: 1rem 0;
  }

  .imageName img {
    max-width: 80%;
    height: auto;
    display: none;
  }

  .details {
    font-size: 0.95rem;
    margin-bottom: 20px;
  }

  .btn {
    flex-direction: column;
    row-gap: 10px;
  }

  .social {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    padding-top: 15px;
    margin: 20px;
  }

  .hbtn {
    width: 100%;
    justify-content: center;
  }
}